<%- include("header") -%>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">World On Wheels</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>

    </div>
</nav>
<form action="/" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control <% if (pageStatus == "invaild") { %>is-invalid<% } %>" placeholder="Email address"
        required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control <% if (pageStatus == "invaild") { %>is-invalid<% } %>" placeholder="Password">
    <% if (pageStatus == "invaild") { %>
    <div class="invalid-feedback">
        Invaild email or password.
    </div>
    <% } %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href="/signup" class=" mb-3 ext-muted">Sign up</a>

    <p class="mt-5 mb-3 text-muted">© 2020-2020</p>
</form>
<%- include("footer") -%>