<%- include("header") -%>
<body style="background-color: #ffffff;">
<form class="form-signin">
    <img class="mb-4" src="/image/check.png" alt="" width="90" height="90">
    <h1 class="h3 mb-3 font-weight-normal">You have successfully signed up a individual account!</h1>
    <a href="/apply1" class="btn btn-lg btn-primary btn-block" style="color: aliceblue;">Start to rent a vehicle</a>
  </form>
<%- include("footer") -%>