<%- include("header") -%>

<body style="text-align: left!important; margin-top: 50px;">
    <%- include("user-nav") -%>
    <div class="container">

        <div class="card" style="margin: 10px auto 20px auto; max-width: 400px;">
            <a href="/signup-i"><h5 class="card-header">Sign up individual Account</h5></a>
        </div>
        <div class="card" style="margin: 10px auto 20px auto; max-width: 400px;">
            <a href="/signup-c"><h5 class="card-header">Sign up Corporate Account</h5></a>
        </div>
    </div>
    <%- include("footer") -%>